<!DOCTYPE HTML>
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />

</head>
    <body>
        <h1>Hello User</h1>
    <a href="/testor">Testor Page</a>
    </body>
</html>